.Ein {
  display: flex;
  justify-content: center;
  gap: 20px;
  border-color: rgb(6, 6, 6);
}

button {
  padding: 2rem;
  border-color: aquamarine;
  background-color: chartreuse;
}

#anzeige {
  display: flex;
  justify-content: center;
  align-items: center;
}
.rot {
  color: red;
}

div {
  color: rgb(0, 0, 0);
}
